# QS:1

TASK: Try inputting the following code and examine the results. 
total = 100

print("The total is", total)
The right hand side of the operand does not have to be a literal value, as in the above example. It can be an expression that can itself refer to existing variables.

In [1]:
total = 100
print("The total is", total)

The total is 100

# QS:2

TASK: Try inputting the following code, but replace each of the assignment expressions with the equivalent augmented assignment.
total = total - 1
print("The total is", total)

total = total * 4
print("The total is", total)

total = total / 2
print("The total is", total)

In [2]:
total = 100
total += 99
print("The total is now", total)

The total is now 199

# QS:3

TASK: Try extending the code below so that it creates a new variable called ‘average’, that is set to equal the average calculated from the two other variables.
total = 98.2
count = 5

In [3]:
total = 98.2
count = 5

average = total / count

print("The total is", total)
print("The count is", count)
print("The average is", average)

The total is 98.2
The count is 5
The average is 19.64

# QS:4

TASK: Use the type() function to determine the type of each of the following values.
False
1000
100.111
"Hello"
True
100 / 5
100 // 5

In [4]:
result_int = 10 + 10
print(result_int)        
result_str = "10" + "10"
print(result_str)

20
1010

# QS:5

TASK: Input the following code and examine the result. What is the * operator doing to the given string operand?
"ABC" * 10

In [5]:
result = "ABC" * 10
print(result)

ABCABCABCABCABCABCABCABCABCABC

# QS:6


TASK: Write some code that calls the print() function several times, displaying your name, address and contact details. Add additional calls to the print() function which includes an argument that calculates and prints the length of your name, by calling the len() function.

In [6]:
name = "Your Name"
address = "Your Address"
contact_details = "Your Contact Details"

print("Name:", name)
print("Address:", address)
print("Contact Details:", contact_details)

print("Length of Name:", len(name))

Name: Your Name
Address: Your Address
Contact Details: Your Contact Details
Length of Name: 9

# QS:7

TASK: Input the following code, when asked to type your age input a numeric value such as 20. Does this program work? If not, why?
age = input("Enter your age ")
print("in one year your age will be", age + 1)

In [7]:
age_str = input("Enter your age: ")
age = int(age_str)
print("In one year, you will be", age + 1)

Enter your age: 45
In one year, you will be 46

# QS:8

TASK: Try writing the above assignment statement but only use double quotes instead of single quotes as the string delimiter. What is the result?

In [9]:
value1_str = input("Enter the first numeric value: ")
value2_str = input("Enter the second numeric value: ")

value1 = float(value1_str)
value2 = float(value2_str)

product = value1 * value2
print("The product of", value1, "and", value2, "is:", product)

Enter the first numeric value: 9
Enter the second numeric value: 7
The product of 9.0 and 7.0 is: 63.0

# QS:9

TASK: Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown).
This text includes characters such as '\' '"' and "'",
This is a new line that starts with a tab
	This new line starts with two tabs

In [10]:
print("""
This text includes characters such as '\\' '"' and "'",
This is a new line that starts with a tab
\tThis new line starts with two tabs
""")

This text includes characters such as '\' '"' and "'",
This is a new line that starts with a tab
	This new line starts with two tabs

# QS:10

TASK: Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown).

In [11]:
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")
print("Hello there!")
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

# QS:11

TASK: Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown). Do this without the use of any escape sequences.

In [13]:
print("""
This text spans three lines,
and includes both single ('),
and double quotes (").
""")

This text spans three lines,
and includes both single ('),
and double quotes (").

# QS:12

surname = "Palin"
initial = surname[0]

TASK: Rewrite the above example, so that the third letter of the ‘surname’ is accessed rather than the first, then print this letter to the screen.

In [17]:
surname = "Palin"
third_letter = surname[2]
print("The third letter of the surname is:", third_letter)

The third letter of the surname is: l

# QS:13

TASK: Rewrite the above example, so that the tenth letter of the ‘surname’ is accessed, and note the result.
The Python language supports the concept of negative index values. If the given index is less than zero then it is used as an offset from the right-side of the string, rather than the left-side. For example, to access the last character of a string, an index of -1 can be used as follows -
surname = "Palin"
last = surname[-1]

In [16]:
surname = "Palin"
tenth_letter = surname[9]
print("The tenth letter of the surname is:", tenth_letter)

IndexError: string index out of range

# QS:14

TASK: Rewrite the above example, so that the second from last letter of the ‘surname’ is accessed rather than the last, then print this letter to the screen.
As with positive indices, attempting to use a negative index that is out of range will result in an error, e.g. the following would cause an error -
surname = "Palin"
val = surname[-6]

In [18]:
surname = "Palin"
second_from_last = surname[-2]
print("The second from last letter of the surname is:", second_from_last)

The second from last letter of the surname is: i

# QS:15

Rewrite the above example, so that all of the characters of the ‘surname’ except the first character are sliced and then displayed on the screen.
Both the start and index values may be omitted. If the start index is not present then it defaults to 0 (the first character), and if the end index is not present then it defaults to the length of the string. Therefore a slice that contains all the characters from a string could be accessed using the following -

In [19]:
tail = surname[1:]
print("All characters of the surname except the first one:", tail)

All characters of the surname except the first one: alin

# QS:16

TASK: Write code that accesses and prints all characters of  the ‘surname’ except the last character.

In [21]:
all_except_last = surname[:-1]
print("All characters of the surname except the last one:", all_except_last)

All characters of the surname except the last one: Pali

# QS:17

TASK: Write code that uses slicing to access then print the first four prime numbers defined within the ‘primes’ list given above. Note: you will have to input that list first for testing purposes.

In [23]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

first_four_primes = primes[:4]
print("The first four prime numbers:", first_four_primes)

The first four prime numbers: [2, 3, 5, 7]

# QS:18

TASK: Write code that uses slicing to insert two new names just before the final name within the  ‘names’ list.
Values can also be added to the end of a list using the append() method (note: a method is like a function that works on a specific type of object). For example -
names.append("Brian")
As with strings, the + operator can also be applied to lists in order to concatenate them together, e.g.
names = names + ["Mark"]

In [24]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

new_names = ["Grace", "Frank"]
names[-1:-1] = new_names

print("Updated 'names' list:", names)

Updated 'names' list: ['Alice', 'Bob', 'Charlie', 'David', 'Grace', 'Frank', 'Eve']

# QS:19

nums = [1,2,3] * 5
TASK: Work out in your head what the contents of the ‘nums’ list would be, then check this using the Python interpreter.

In [26]:
nums = [1, 2, 3] * 5

print("Duplicated 'nums' list:", nums)

Duplicated 'nums' list: [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]